{#
/*
 *
 * option: joomla module
 * view: joomla action
 * p: joomla id
 *
 */
#}
<div class="embed-responsive embed-estadisticas">
  <iframe src="http://estadistica.ovacion.pe/index.php?q=estadisticas/&option={{ option }}&view={{ view }}&p={{ p }}&{{ type}}={{ id }}" class="autoHeight embed-responsive-item" scrolling="no" width="100%"></iframe>
</div>
